@import '../../mixins';

.Footer {

  .text-center {
    background-color: #000;
    color: #fff;
    padding: 30px 0;
  }

  .footer-above {
    h3 {
      margin-bottom: 30px;
      @include screen-mobile-small {
        font-size: 1.5em;
      }
    }
    .footer-col {
      margin-bottom: 50px;
    }
  }

  .custom-small-location-content {
    font-size: 1.1em;  
  }
  
  .btn-social {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 1.6em;
    line-height: 2;
    width: 52px;
    height: 52px;
    @include screen-mobile {
      width: 50px;
      height: 50px;
      line-height: 2;
    }
    @include screen-mobile-small {
      width: 45px;
      height: 45px;
      font-size: 1.4em;
      line-height: 2;
    }
  }

  .btn-outline {
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
  }

  p {
    @include screen-mobile-small {
      font-size: 0.8em;
    }
  }
}
