@import '../../common/mixins';

.container {
  text-align: center;
}

.wrapper {
  display: inline-block;
  width: 320px;
  padding: 0 20px; 

  @include screen-mobile-small {
    width: 280px;
  }
}

.icon {
  font-size: 5em;
  color: #000;
  margin: 0 0 15px 0; 
}

.statement {
  text-align: left;
  font-size: 1.1em;
  margin: 0 0 20px 0;

  @include screen-mobile-small {
    font-size: 1em;
  }
}
