@import '../../styles/mixins';

.container {
  display: flex;
  flex-flow: row wrap;
  width: 1200px;
  margin: 0 auto 0 auto;

  @include screen-desktop-small {
    width: 1000px;
  }

  @include screen-tablet-and-mobile {
    width: 100%;
  }

  .placeholder {
    display: inline-block;
    width: 33%;
    padding: 20px 20px 20px 20px;

    .ph-title {
      background: var(--placeHolderBgFirst);
      width: 70%;
      height: 30px;
      margin: 0 0 10px 0;
      border-radius: 10px;
    }

    .ph-description {
      background: var(--placeHolderBgSecond);
      width: 100%;
      height: 30px;
      margin: 0 0 10px 0;
      border-radius: 10px;
    }

    .ph-img {
      background: var(--placeHolderBgFirst);
      width: 100%;
      height: 250px;
      margin: 0 0 10px 0;
      border-radius: 10px;
    }

    .ph-link {
      background: var(--placeHolderBgSecond);
      width: 30%;
      height: 20px;
      border-radius: 10px;
    }
  
    @include screen-tablet {
      width: 50%;
    }
  
    @include screen-mobile {
      width: 100%;
    }
  }

  .wrapper {
    display: inline-block;
    width: 33%;
    padding: 10px 20px 10px 20px;
  
    @include screen-tablet {
      width: 50%;
    }
  
    @include screen-mobile {
      width: 100%;
    }
  }

  .wrapper:hover .image,
  .wrapper:focus .image,
  .wrapper:active .image {
    transition: all 0.5s ease;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
  }
  
  .title {
    font-size: 1.5em;
  
    @include screen-mobile-small {
      font-size: 1.2em;
    }
  }
  
  .description {
    font-size: 0.9em;
  }
  
  .image {
    width: 100%;
    margin: 5px 0 5px 0;
    border: 1px solid #eeee;
    min-height: 150px;
    height: auto;
    border-radius: 10px;
    // box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.125);
    opacity: var(--imgOpacity);
  }
  
  .link {
    margin: 10px 0 0 0;
    font-size: 0.9em;
    // text-align: right;
  }
}
