@import '../../../../common/mixins';

.container {
  width: 550px;
  margin: 10px auto 10px auto;

  @include screen-mobile {
    width: 85%;
  }

  .note {
    text-align: left;
  }
  
  .textarea {
    height: 200px;
    resize: none;
  
    @include screen-mobile {
      height: 100px;
    }
  }
  
  .form-tips {
    text-align: right;
  }

  .form-action {
    text-align: center;
  }
}
