@import '../../../../common/mixins';

* {
  box-sizing: border-box;
}

:after, :before {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  margin: 0;
  font-family: $default-font-family;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

small {
  font-size: 85%;
}

a {
  background-color: transparent;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

p {
  margin: 0 0 10px;
}

code,
p, 
small,
label {
  font-family: $default-font-family;
  color: #000;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: $default-font-family;
  font-weight: bold;
}

.container {
  display: block;
}
