@import '../../../../common/mixins';

.container {
  min-height: calc(120vh - 60px);
  margin-top: 30px;
  padding: 5px 0 5px 0;
  
  @include screen-mobile {
    margin-top: 20px; 
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1,
  h2,
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h1, 
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  small {
    font-size: 85%;
  }

  a {
    background-color: transparent;
  }

  a {
    color: #337ab7;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: #23527c;
    text-decoration: underline;
  }

  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  p {
    margin: 0 0 10px;
  }

  code,
  p, 
  small,
  label {
    font-family: $default-font-family;
    color: #000;
  }

  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    font-family: $default-font-family;
    font-weight: bold;
  }
}
