@import '../../common/mixins';

.container {
  display: block;
  margin: 0 auto 60px auto;
  text-align: center;
  width: 50%;

  @include screen-mobile {
    width: 80%;
  }

  .content {
    font-size: 1.4em;
    margin: 0;
    
    @include screen-mobile {
      font-size: 1.1em;
    }
    
    @include screen-mobile-small {
      font-size: 1em;
    }
  }
}
