.container {
  position: absolute;
  background: linear-gradient(134deg, #b165ff 0%, #5f219d 99%);
  transform: skewY(-3deg);
  right: 0px;
  left: 0px;
  width: 100%;
  min-height: 630px;
  max-height: 740px;
}
