.container {
  display: inline-block;
  min-width: 20px;
  text-align: center;

  i {
    font-size: 1.4em;
    line-height: 1.6;
  }
}

.faSun {
  color: var(--color-light);
  cursor: pointer;

  &:before {
    content: "\f185";
  }
}

.faMoon {
  color: var(--theme-color);
  cursor: pointer;

  &:before {
    content: "\f186";
  }
}
