footer {
  width: 100%;
  background: linear-gradient(134deg, #a463e7 0%, #4f009f 99%);
}

.innerFooter {
  width: 100%;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: #FFF;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
}
