@import '../../../../styles/mixins';

.container {
  width: 50%;
  margin: 0 auto 50px auto;
  padding: 5px 0 5px 0;
  
  @include screen-mobile {
    padding: 0 25px 0 25px;
    width: 100%;
  }

  .content {
    text-align: center;
  }
}
