@import '../../styles/mixins';

.container {
  position: fixed;
  z-index: 9999;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  bottom: 30px;
  right: 30px;
  padding: 8px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;

  @include screen-mobile {
    bottom: 20px;
    right: 20px;
  }

  &.night {
    border: 2px solid #000;
    color: #000;
    background: #fff;
    transition: all 1s ease;
  }
  
  &.sun {
    border: 2px solid #fff;
    color: #fff;
    background: #000;
    transition: all 1s ease;
  }
}
