@import '../../../../common/mixins';

.container {
  width: 50%;
  height: 50%;
  margin: 0 auto 30px auto;

  @include screen-mobile {
    width: 100%;
    height: 100%;
  }
}

.status-overview {
  text-align: center;
}

.status-overivew-items {
  display: inline-block;
  margin: 0 30px 0 0;

  @include screen-mobile {
    width: 100%;
    margin-right: 0;
  }

  h2 {
    font-size: 2em;

    @include screen-mobile {
      font-size: 1.8em;
    }

    @include screen-mobile-small {
      font-size: 1.4em;
    }
  }
  p {
    font-size: 4.2em;

    @include screen-mobile {
      font-size: 3.6em;
    }
  
    @include screen-mobile-small {
      font-size: 3.2em;
    }
  }
}
