.container {

  &.top {
    background-image: linear-gradient(to right, #000 0%, #ccc 100%);
    width: 100%;
    height: 7px;
  }
  
  &.bottom {
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #000 0%, #ccc 100%);
    width: 100%;
    height: 7px;
  }
}
