.Statement .content {
  margin: 50px 0;
}

.Statement .content p {
  font-size: 1.4em;
  text-align: center;
}

@media (max-width: 767px) {
  .Statement .content p {
    font-size: 1.2em;
  }  
}

@media (max-width: 320px) {
  .Statement .content p {
    font-size: 1em;
  }  
}
