@import '../../../../common/mixins';

.container {
  width: 50%;
  height: 50%;
  margin: 0 auto 30px auto;

  @include screen-mobile {
    padding: 0 30px 0 30px;
    width: 100%;
    height: 100%;
  }

  .title {
    text-align: center;
    margin: 50px 0 20px 0;
  
    @include screen-mobile {
      font-size: 2em;
    }
  
    @include screen-mobile-small {
      font-size: 1.8em;
    }
  }
  
  .content {
    height: 400px;
    width: 60%;
    margin: 20px auto 0 auto;
    background-color: #e8e8e8;
  
    @include screen-desktop-small {
      width: 100%;
    }
  
    @include screen-tablet-and-mobile {
      width: 100%;
      height: 300px;
    }
  
    @include screen-mobile-small {
      font-size: 1.8em;
      height: 280px;
    }
  }
}
