@import '../../common/mixins';

.container {
  width: 430px;
  margin: 10px auto 10px auto;

  @include screen-mobile {
    width: 85%;
  }
  
  .message {
    resize: none;
    height: 150px;
  
    @include screen-mobile {
      height: 100px;
    }
  }
  
  .form-tips {
    text-align: right;
  }

  .form-action {
    text-align: center;
  }
}
