.container {
  position: relative;
  margin: 0 0 50px 0;
}

.innerContainer {
  min-height: 100px;

  &:before {
    content: 'Advertisement';
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 0.5em;
    letter-spacing: 3px;
  }
}
