@import '../../../../common/mixins';

.container {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto 30px auto;

  @include screen-mobile {
    width: 320px;
    height: 320px;
  }

  @include screen-mobile-small {
    width: 280px;
    height: 280px;
  }
}

.percentage-wrapper {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.percentage {
  position: absolute;
  pointer-events: none;
  left: 90px;
  top: 150px;
  width: 200px;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-align: center;

  @include screen-mobile {
    left: 75px;
    top: 135px;
  }

  @include screen-mobile-small {
    left: 50px;
    top: 115px;
  }
}
