@import '../../common/mixins';

.container {
  width: 70%;
  margin: 10px auto 5px auto;
  text-align: center;
  font-size: 1.6em;

  @include screen-mobile {
    padding: 0 15px 0 15px;
    width: 100%;
    font-size: 1.4em;
  }

  @include screen-mobile-small {
    font-size: 1.2em;
  }
}
