body,
code {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p, 
small {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .page-wrapper {
    margin-top: 50px;
  }
}
