body,
code {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-wrapper {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .page-wrapper {
    margin-top: 50px;
  }
}
