@import '../../mixins';

.SkillTechnology {

  .st-full-details {
    width: 365px;
    margin: 0 auto 0 auto;
    @include screen-mobile {
      width: 320px;
    }
    @include screen-mobile-small {
      width: 280px;
    }
    .st-role__icon {
      display: inline-block;
      font-size: 1.5em;
      @include screen-mobile {
        font-size: 1.3em;
      }
      @include screen-mobile-small {
        font-size: 1.1em;
      }
    }
    .st-role__title {
      display: inline-block;
      font-size: 1.5em;
      @include screen-mobile {
        font-size: 1.3em;
      }
      @include screen-mobile-small {
        font-size: 1.1em;
      }
    }
    .st-tool {
      margin-left: 20px;
    }
    .st-tool__icon {
      display: inline-block;
      font-size: 1.1em;
    }
    .st-tool__name {
      display: inline-block;
      font-size: 1em;
    }
    .st-library {
      font-size: 0.89em;
      // font-weight: 600;
      margin-left: 30px;
    }
    .st-inactive {
      color: #777;
    }
  }
}
