@import '../../../common/mixins';

.container {
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: center;

  @include screen-mobile {
    width: 100%;
  }
  
  .item-case {
    display: inline-block;
    margin: 0 30px 0 0;
  
    @include screen-mobile {
      width: 100%;
      margin-right: 0;
    }
  
    h2 {
      font-size: 2em;
      font-weight: 600;
  
      @include screen-mobile {
        font-size: 1.8em;
      }
  
      @include screen-mobile-small {
        font-size: 1.4em;
      }
    }
    
    p {
      margin: 0;
      font-size: 4.2em;
      font-weight: 600;
  
      @include screen-mobile {
        font-size: 3.6em;
      }
    
      @include screen-mobile-small {
        font-size: 3.2em;
      }
    }
  }
  
  .confirmed-case {
  
    h2 {
      font-size: 2.4em;
      font-weight: 600;
  
      @include screen-mobile {
        font-size: 2.2em;
      }
  
      @include screen-mobile-small {
        font-size: 2em;
      }
    }
    
    p {
      margin: 0;
      font-size: 4.8em;
      font-weight: 600;
  
      @include screen-mobile {
        font-size: 4.2em;
      }
    
      @include screen-mobile-small {
        font-size: 3.8em;
      }
    }
  }
  
  .as-of-date-time {
    margin: 25px 0 10px 0;
    color: #5b5b5b;
  }

  .social-media-buttons {
    line-height: 10px;

    div {
      margin: 0 5px 0 0;
      display: inline-block;
    }
  }
}
